@page "/transactions"

<h1>Pending Transactions Page</h1>

<h2>Transaction List</h2>
<br/>
<br />

<TransactionList />
<hr />
<br />
<hr />
<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream/>